<%- include('partials/navBar.ejs') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestión de Eventos</title>
    <link rel="stylesheet" href="/css/eventos.css">
</head>
<body>

    <main class="cards" id="events_cards">
        <section class="cards__header">
            <h1>Gestión de Eventos</h1>
            <input type="text" id="search" placeholder="Buscar eventos...">
        </section>
        <section class="cards__body">
            <% eventos.forEach(evento => { %>
                <div class="card" data-id="<%= evento.idevento %>">
                    <% if (evento.img) { %>
                        <img src="/<%= evento.img %>" alt="Imagen del evento" class="card__image">
                    <% } else { %>
                        <img src="/default.jpg" alt="Imagen del evento" class="card__image">
                    <% } %>
                    <h2><%= evento.titulo %></h2>
                    <p><strong>Fecha:</strong> <%= evento.fecha %></p>
                    <p><strong>Descripción:</strong> <%= evento.descripcion %></p>
                    <p><strong>Marca:</strong> <%= evento.marca %></p>
                   <!-- <button class="edit-btn">Editar</button> -->
                    <button class="delete-btn">Eliminar</button>
                </div>
            <% }); %>
        </section>
        <section class="add-event">
            <h2>Agregar Nuevo Evento</h2>
            <form action="https://back-final-kw64.onrender.com/admin/eventos" method="POST" enctype="multipart/form-data">
                <input type="text" name="titulo" placeholder="Título del evento" required>
                
                <!-- Etiqueta para la fecha -->
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" required>
                
                <input type="text" name="marca" placeholder="Marca del evento" required>
                <textarea name="descripcion" placeholder="Descripción del evento" required></textarea>
                <input type="file" name="img" accept="image/*" required>
                <button type="submit">Agregar Evento</button>
            </form>
        </section>
        
        
    </main>

    <script src="/js/eventos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
